@media(max-width: 975px){
    .site-body   .news > div{
        width: 80%;
        margin: auto;
        margin-bottom: 2fr;
    }
}

@media(max-width: 930px){
    .site-body .impact .impact-item{
        width: 45%;
    }
    
    .site-body .sdg .sdg-imgs > img{
       width: 30%;
       margin-bottom: 20px;
    }

}
@media(max-width: 1080px){
    .programs > .program{
        width: 45%;
    }
}

@media(max-width: 700px){
    .programs > .program{
        width: 90%;
    }
}
 
/* @media(max-width: 899px){
    .executive > .exec {
          width: 40vw;
          margin: auto;
      }
  }
 
  @media(max-width: 499px){
    .executive > .exec {
          width: 90vw;
          margin: auto;
      }
  } */
 

@media(max-width: 872px) {
    .navbar .brand span{
        display: block;
    }

    .container > .content > .navbar{
        justify-content: space-between;
    }

    .navbar > .nav-links{
        display: none;
    }

    .who-content > .history{
        flex-direction: column;
    }

    .who-content > .history > div{
        width: 90%;
        margin: auto;
    }

}

@media(min-width: 872px){
    .sidebar{
        display: none;
    }
}

@media(max-width: 851px){
    .content .site-body .home{
        background-size: auto;
    }
}

@media(max-width: 630px){
    .site-body .impact .impact-item{
        width: 90%;
    }
}


@media(max-width: 610px){
    .sidebar{
        width: 60%;
    }

    .who-content > .mision-values{
        flex-direction: column;
    }

    .who-content > .mision-values > div{
        width: 90%;
    }
}

@media(max-width: 450px){
    .sidebar{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 1220px){
    .site-body .cameroon-impact .item{
        width: 40%;
    }

    .site-body .cameroon-impact .item .item-head{
        height: 450px;
    }

}

@media(max-width: 988px){
    .site-body .cameroon-impact .item{
        width: 90%;
    }

    .site-body .cameroon-impact .item .item-head{
        width: 50%;
        height: 400px;
    }
}

@media(max-width: 650px){
    .site-body .cameroon-impact .item .item-head{
        width: 90%;
    }
}

@media(max-width: 541px){
    .site-body .sdg .sdg-imgs > img{
        width: 40%;
     }
}

@media(max-width: 430px){
    .site-body .sdg .sdg-imgs > img{
        width: 80%;
     }
}

@media(max-width: 1180px){
    footer div{
        width: 30%;
        margin: auto;
    }
}

@media(max-width: 900px){
    footer div{
        width: 45%;
        margin: auto;
    }
}

@media(max-width: 546px){
    footer div{
        width: 60%;
        margin: auto;
    }
}

@media(max-width: 917px){
    .momo{
        width: 90%;
        height: 100%;
    }

    .momo > form{
        margin-top: 12%;
    }
}