@media(max-width: 872px) {
    .navbar .brand span{
        display: block;
    }

    .container > .content > .navbar{
        justify-content: space-between;
    }

    .navbar > .nav-links{
        display: none;
    }

}

@media(min-width: 872px){
    .sidebar{
        display: none;
    }
}